
.pdf-container {
  position: absolute;
  width: 100%;
  height: 100%; 
  left:0%;
  top:0%;
}
.thumbnail_loader {
  height: 98.5vh;
  position: absolute;
  left: 50.5%;
  top: 1%;
  transform: translateX(-50%);
}




